@font-face {
	font-family: 'Maax';
	src: url('../Maax-Regular.eot');
	src: url('../Maax-Regular.eot?#iefix') format('embedded-opentype'),
		url('../Maax-Regular.woff') format('woff'),
		url('../Maax-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maax';
	src: url('../Maax-Bold.eot');
	src: url('../Maax-Bold.eot?#iefix') format('embedded-opentype'),
		url('../Maax-Bold.woff') format('woff'),
		url('../Maax-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Maax';
	src: url('../Maax-BoldItalic.eot');
	src: url('../Maax-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../Maax-BoldItalic.woff') format('woff'),
		url('../Maax-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Maax';
	src: url('../Maax-Italic.eot');
	src: url('../Maax-Italic.eot?#iefix') format('embedded-opentype'),
		url('../Maax-Italic.woff') format('woff'),
		url('../Maax-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

body {
	line-height: 1.5;
}

h1 {
  font-size: 85px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Maax';
  font-weight: bold;
}

.site-title {
	margin-bottom: 40px;
}
