<ul class="nav nav-pills">
  <% @job_types.each do |job_type| %>
    <li><%= link_to job_type.name, url_for(params.merge(:job_type => job_type.id)) %></li>
  <% end %>
</ul>

<div class="list-group job-posts">
  <% @featured_job_posts.each do |job_post| %>
    <%= render partial: 'job_post_section', locals: {job_post: job_post} %>
  <% end %>
</div>

<div class="list-group job-posts">
  <% @job_posts.each do |job_post| %>
    <%= render partial: 'job_post_section', locals: {job_post: job_post} %>
  <% end %>
  <%= will_paginate %>
</div>
